*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{ 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.slider-container{
    margin: 10px auto;
    width: 800px;
    height: 300px;
    position: relative;
}

.slider-container img{
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    z-index: 1;
    border-radius: 5px;
    width: 800px;
    height: 300px;
}

.slider-container img.active{
    opacity: 1;
}

.slider-container .slider-number{
    position: absolute;
    left: 10px;
    top: 10px ; 
    background-color: #04035d25;
    color: #fff;
    padding: 5px 10px;
    font-size: 20px;
    z-index: 2;
    border-radius: 6px;
}

.slider-controls{
    width: 800px;
    margin: auto;
    overflow: hidden;
}

 .prev ,
 .next{
    background-color: #05035d71;
    color: #fff;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px;
    user-select: none;
    width: 20%;
}


.disabledprev{
    background-color: #0028962e;
    cursor: no-drop;
    color: #fff;
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    user-select: none;
    width: 20%;
    float: left;
}

.disablednext{
    background-color: #0028962e;
    cursor: no-drop;
    color: #fff;
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    user-select: none;
    width: 20%;
    float: right;
}


.slider-controls .indicators{
    width: 60%;
    float: left;
}

.slider-controls .indicators ul{
    list-style: none;
    margin: 0;
    text-align: center;
}

.slider-controls .indicators ul li{
    display: inline-block;
    background-color: #035d4a71;
    color: #333;
    font-weight: bold;
    height: 28px;
    width: 28px;
    border-radius: 4px ; 
    margin: 0 2px;
    line-height: 28px;
    cursor: pointer;
}

.slider-controls .indicators ul li.active{
    background-color: #02005ccf;
    color: #fff;
}